## Create a clean ID for each character

In [ ]:
import pandas as pd

In [1]:
df = pd.read_csv('../data/character_stats.csv')
df.head()

,Name,Alignment,Intelligence,Strength,Speed,Durability,Power,Combat,Total
0,3-D Man,good,50,31,43,32,25,52,233
1,A-Bomb,good,38,100,17,80,17,64,316
2,Abe Sapien,good,88,14,35,42,35,85,299
3,Abin Sur,good,50,90,53,64,84,65,406
4,Abomination,bad,63,80,53,90,55,95,436

In [2]:
#create id for each character
char_id = df.loc[:,'Name'].str.strip()
char_id = char_id.str.lower() \
                    .str.replace(r"[, '\-\!]","_",regex=True) \
                    .str.replace(r"[_]+", "_", regex=True) \
                    .str.strip("_")
print(char_id)

0              3_d_man
1               a_bomb
2           abe_sapien
3             abin_sur
4          abomination
            ...
606       yellowjacket
607    yellowjacket_ii
608               ymir
609            zatanna
610               zoom
Name: Name, Length: 611, dtype: object

In [3]:
#add 'Character ID' column to df
df['Character ID'] = char_id
print(df)

                Name Alignment  Intelligence  Strength  Speed  Durability  \
0            3-D Man      good            50        31     43          32
1             A-Bomb      good            38       100     17          80
2         Abe Sapien      good            88        14     35          42
3           Abin Sur      good            50        90     53          64
4        Abomination       bad            63        80     53          90
..               ...       ...           ...       ...    ...         ...
606     Yellowjacket      good            88        10     12          28
607  Yellowjacket II      good            50        10     35          28
608             Ymir      good            50       100     27         100
609          Zatanna      good            75        10     23          28
610             Zoom       bad            50        10    100          28

     Power  Combat  Total     Character ID
0       25      52    233          3_d_man
1       17      64    316           a_bomb
2       35      85    299       abe_sapien
3       84      65    406         abin_sur
4       55      95    436      abomination
..     ...     ...    ...              ...
606     12      14    164     yellowjacket
607     31      28    182  yellowjacket_ii
608     83      28    388             ymir
609    100      56    292          zatanna
610     72      28    288             zoom

[611 rows x 10 columns]

In [4]:
#save file
df.to_csv(r'../data/processed/character_stats_id.csv', index = False)