In [9]:
import pandas as pd
df = pd.read_csv('hero_network.csv')
print(df.head())

                  hero1                 hero2
0         LITTLE, ABNER        PRINCESS ZANDA
1         LITTLE, ABNER  BLACK PANTHER/T'CHAL
2  BLACK PANTHER/T'CHAL        PRINCESS ZANDA
3         LITTLE, ABNER        PRINCESS ZANDA
4         LITTLE, ABNER  BLACK PANTHER/T'CHAL

In [10]:
#Checking for missing values
df.isnull().sum()

hero1    0
hero2    0
dtype: int64

In [11]:
#clean hero1 name with regex and create id for it (for clean iri)

hero1_id = df.loc[:,'hero1'].str.strip()
hero1_id = hero1_id.str.lower() \
                    .str.replace(r"[, \/\-\.'\&\[\]\|\?\(\)]", "_", regex=True) \
                    .str.replace(r"[_]+", "_", regex=True) \
                    .str.strip("_")
print(hero1_id)

0                 little_abner
1                 little_abner
2         black_panther_t_chal
3                 little_abner
4                 little_abner
                  ...
574462    colossus_ii_peter_ra
574463                callisto
574464                callisto
574465                 caliban
574466     hulk_dr_robert_bruc
Name: hero1, Length: 574467, dtype: object

In [12]:
#add column hero1_id to df
df['hero1_id'] = hero1_id
print(df)

                       hero1                 hero2              hero1_id
0              LITTLE, ABNER        PRINCESS ZANDA          little_abner
1              LITTLE, ABNER  BLACK PANTHER/T'CHAL          little_abner
2       BLACK PANTHER/T'CHAL        PRINCESS ZANDA  black_panther_t_chal
3              LITTLE, ABNER        PRINCESS ZANDA          little_abner
4              LITTLE, ABNER  BLACK PANTHER/T'CHAL          little_abner
...                      ...                   ...                   ...
574462  COLOSSUS II/PETER RA              CALLISTO  colossus_ii_peter_ra
574463              CALLISTO               ROGUE /              callisto
574464              CALLISTO              CALIBAN/              callisto
574465              CALIBAN/               ROGUE /               caliban
574466  HULK/DR. ROBERT BRUC     MARKS, DR. SHIELA   hulk_dr_robert_bruc

[574467 rows x 3 columns]

In [13]:
##clean hero2 name with regex and create id for it (for clean iri)
hero2_id = df.loc[:,'hero2'].str.strip()
hero2_id = hero2_id.str.lower() \
                    .str.replace(r"[, \/\-\.'\&\[\]\|\?\(\)]", "_", regex=True) \
                    .str.replace(r"[_]+", "_", regex=True) \
                    .str.strip("_")
print(hero2_id)
#.str.replace(r"[^a-z0-9]","_", regex=True) \

0               princess_zanda
1         black_panther_t_chal
2               princess_zanda
3               princess_zanda
4         black_panther_t_chal
                  ...
574462                callisto
574463                   rogue
574464                 caliban
574465                   rogue
574466         marks_dr_shiela
Name: hero2, Length: 574467, dtype: object

In [14]:
#add hero2_id to df
df['hero2_id'] = hero2_id
print(df)

                       hero1                 hero2              hero1_id  \
0              LITTLE, ABNER        PRINCESS ZANDA          little_abner
1              LITTLE, ABNER  BLACK PANTHER/T'CHAL          little_abner
2       BLACK PANTHER/T'CHAL        PRINCESS ZANDA  black_panther_t_chal
3              LITTLE, ABNER        PRINCESS ZANDA          little_abner
4              LITTLE, ABNER  BLACK PANTHER/T'CHAL          little_abner
...                      ...                   ...                   ...
574462  COLOSSUS II/PETER RA              CALLISTO  colossus_ii_peter_ra
574463              CALLISTO               ROGUE /              callisto
574464              CALLISTO              CALIBAN/              callisto
574465              CALIBAN/               ROGUE /               caliban
574466  HULK/DR. ROBERT BRUC     MARKS, DR. SHIELA   hulk_dr_robert_bruc

                    hero2_id
0             princess_zanda
1       black_panther_t_chal
2             princess_zanda
3             princess_zanda
4       black_panther_t_chal
...                      ...
574462              callisto
574463                 rogue
574464               caliban
574465                 rogue
574466       marks_dr_shiela

[574467 rows x 4 columns]

In [15]:
#save csv with the new columns added
df.to_csv(r'hero_network_id.csv', index = False)