In [1]:
import pandas as pd
df = pd.read_csv('imdb.csv')
df.head()

,id,Original Title,Company,Rate,Metascore,Minutes,Release,Budget,Opening Weekend USA,Gross USA,Gross Worldwide
0,1,Iron Man,Marvel,7.9,79,126,2008,140000000,98618668,318604126,585366247
1,2,The Incredible Hulk,Marvel,6.7,61,112,2008,150000000,55414050,134806913,263427551
2,3,Iron Man 2,Marvel,7.0,57,124,2010,200000000,128122480,312433331,623933331
3,4,Thor,Marvel,7.0,57,115,2011,150000000,65723338,181030624,449326618
4,5,Captain America: The First Avenger,Marvel,6.9,66,124,2011,140000000,65058524,176654505,370569774

In [2]:
#Checking for missing values
df.isnull().sum()

id                     0
Original Title         0
Company                0
Rate                   0
Metascore              0
Minutes                0
Release                0
Budget                 0
Opening Weekend USA    0
Gross USA              0
Gross Worldwide        0
dtype: int64

In [3]:
#create an id for the movie titles (for clean iri)
movie_id = df.loc[:,'Original Title'].str.strip()
movie_id = movie_id.str.lower()
movie_id = movie_id.str.replace(', ', '_').str.replace('/','_').str.replace(': ', '_').str.replace('-','_').str.replace(' ','_').str.replace(':','_').str.replace('!','').str.replace('.','')
print(movie_id)

0                               iron_man
1                    the_incredible_hulk
2                             iron_man_2
3                                   thor
4      captain_america_the_first_avenger
5                           the_avengers
6                             iron_man_3
7                    thor_the_dark_world
8     captain_america_the_winter_soldier
9                guardians_of_the_galaxy
10                avengers_age_of_ultron
11                               ant_man
12             captain_america_civil_war
13                        doctor_strange
14         guardians_of_the_galaxy_vol_2
15                 spider_man_homecoming
16                         thor_ragnarok
17                         black_panther
18                 avengers_infinity_war
19                  ant_man_and_the_wasp
20                        captain_marvel
21                      avengers_endgame
22              spider_man_far_from_home
23                              catwoman
24                         batman_begins
25                      superman_returns
26                       the_dark_knight
27                              watchmen
28                             jonah_hex
29                         green_lantern
30                 the_dark_knight_rises
31                          man_of_steel
32     batman_v_superman_dawn_of_justice
33                         suicide_squad
34                          wonder_woman
35                        justice_league
36                               aquaman
37                                shazam
38                                 joker
Name: Original Title, dtype: object

In [4]:
#attach column 'Movie ID' to df
df['Movie ID'] = movie_id
print(df)

    id                       Original Title Company  Rate  Metascore  Minutes  \
0    1                             Iron Man  Marvel   7.9         79      126
1    2                  The Incredible Hulk  Marvel   6.7         61      112
2    3                           Iron Man 2  Marvel   7.0         57      124
3    4                                 Thor  Marvel   7.0         57      115
4    5   Captain America: The First Avenger  Marvel   6.9         66      124
5    6                         The Avengers  Marvel   8.0         69      143
6    7                           Iron Man 3  Marvel   7.2         62      130
7    8                 Thor: The Dark World  Marvel   6.9         54      112
8    9  Captain America: The Winter Soldier  Marvel   7.7         70      136
9   10              Guardians of the Galaxy  Marvel   8.0         76      121
10  11              Avengers: Age of Ultron  Marvel   7.3         66      141
11  12                              Ant-Man  Marvel   7.3         64      117
12  13           Captain America: Civil War  Marvel   7.8         75      147
13  14                       Doctor Strange  Marvel   7.5         72      115
14  15       Guardians of the Galaxy Vol. 2  Marvel   7.6         67      136
15  16               Spider-Man: Homecoming  Marvel   7.4         73      133
16  17                       Thor: Ragnarok  Marvel   7.9         74      130
17  18                        Black Panther  Marvel   7.3         88      134
18  19               Avengers: Infinity War  Marvel   8.5         68      149
19  20                 Ant-Man and the Wasp  Marvel   7.1         70      118
20  21                       Captain Marvel  Marvel   6.9         64      123
21  22                    Avengers: Endgame  Marvel   8.5         78      181
22  23            Spider-Man: Far from Home  Marvel   7.6         69      129
23  24                             Catwoman      DC   3.3         27      104
24  25                        Batman Begins      DC   8.2         70      140
25  26                     Superman Returns      DC   6.0         72      154
26  27                      The Dark Knight      DC   9.0         84      152
27  28                             Watchmen      DC   7.6         56      162
28  29                            Jonah Hex      DC   4.7         33       81
29  30                        Green Lantern      DC   5.5         39      114
30  31                The Dark Knight Rises      DC   8.4         78      164
31  32                         Man of Steel      DC   7.1         55      143
32  33   Batman v Superman: Dawn of Justice      DC   6.5         44      151
33  34                        Suicide Squad      DC   6.0         40      123
34  35                         Wonder Woman      DC   7.4         76      141
35  36                       Justice League      DC   6.4         45      120
36  37                              Aquaman      DC   7.0         55      143
37  38                              Shazam!      DC   7.1         71      132
38  39                                Joker      DC   8.7         59      122

    Release     Budget  Opening Weekend USA  Gross USA  Gross Worldwide  \
0      2008  140000000             98618668  318604126        585366247
1      2008  150000000             55414050  134806913        263427551
2      2010  200000000            128122480  312433331        623933331
3      2011  150000000             65723338  181030624        449326618
4      2011  140000000             65058524  176654505        370569774
5      2012  220000000            207438708  623357910       1518812988
6      2013  200000000            174144585  409013994       1214811252
7      2013  170000000             85737841  206362140        644783140
8      2014  170000000             95023721  259766572        714421503
9      2014  170000000             94320883  333176600        772776600
10     2015  250000000            191271109  459005868       1402805868
11     2015  130000000             57225526  180202163        519311965
12     2016  250000000            179139142  408084349       1153296293
13     2016  165000000             85058311  232641920        677718395
14     2017  200000000            146510104  389813101        863756051
15     2017  175000000            117027503  334201140        880166924
16     2017  180000000            122744989  315058289        853977126
17     2018  200000000            202003951  700059566       1346913161
18     2018  321000000            257698183  678815482       2048359754
19     2018  162000000             75812205  216648740        622674139
20     2019  175000000            153433423  426829839       1128274794
21     2019  356000000            357115007  858373000       2797800564
22     2019  160000000             92579212  390532085       1131927996
23     2004  100000000             16728411   40202379         82102379
24     2005  150000000             48745440  206852432        373413297
25     2006  270000000             52535096  200081192        391081192
26     2008  185000000            158411483  535234033       1004934033
27     2009  130000000             55214334  107509799        185258983
28     2010   47000000              5379365   10547117         10903312
29     2011  200000000             53174303  116601172        219851172
30     2012  250000000            160887295  448139099       1081041287
31     2013  225000000            116619362  291045518        668045518
32     2016  250000000            166007347  330360194        873634919
33     2016  175000000            133682248  325100054        746846894
34     2017  149000000            103251471  412563408        821847012
35     2017  300000000             93842239  229024295        657924295
36     2018  160000000             67873522  335061807       1148161807
37     2019  100000000             53505326  140371656        364571656
38     2019   55000000             96202337  333204580       1060504580

                              Movie ID
0                             iron_man
1                  the_incredible_hulk
2                           iron_man_2
3                                 thor
4    captain_america_the_first_avenger
5                         the_avengers
6                           iron_man_3
7                  thor_the_dark_world
8   captain_america_the_winter_soldier
9              guardians_of_the_galaxy
10              avengers_age_of_ultron
11                             ant_man
12           captain_america_civil_war
13                      doctor_strange
14       guardians_of_the_galaxy_vol_2
15               spider_man_homecoming
16                       thor_ragnarok
17                       black_panther
18               avengers_infinity_war
19                ant_man_and_the_wasp
20                      captain_marvel
21                    avengers_endgame
22            spider_man_far_from_home
23                            catwoman
24                       batman_begins
25                    superman_returns
26                     the_dark_knight
27                            watchmen
28                           jonah_hex
29                       green_lantern
30               the_dark_knight_rises
31                        man_of_steel
32   batman_v_superman_dawn_of_justice
33                       suicide_squad
34                        wonder_woman
35                      justice_league
36                             aquaman
37                              shazam
38                               joker

In [5]:
#save the modified csv
df.to_csv(r'movie_id.csv', index = False)