In [16]:
import pandas as pd
import numpy as np
#Read in the file and replace '-' with NaN for missing values (in order to be able to count them later)
df = pd.read_csv('marvel_characters_info.csv',na_values=['-'])
df.head()

,ID,Name,Alignment,Gender,EyeColor,Race,HairColor,Publisher,SkinColor,Height,Weight
0,0,A-Bomb,good,Male,yellow,Human,No Hair,Marvel Comics,NaN,203.0,441.0
1,1,Abe Sapien,good,Male,blue,Icthyo Sapien,No Hair,Dark Horse Comics,blue,191.0,65.0
2,2,Abin Sur,good,Male,blue,Ungaran,No Hair,DC Comics,red,185.0,90.0
3,3,Abomination,bad,Male,green,Human / Radiation,No Hair,Marvel Comics,NaN,203.0,441.0
4,4,Abraxas,bad,Male,blue,Cosmic Entity,Black,Marvel Comics,NaN,-99.0,-99.0

In [17]:
#Replace -99 with NaN for height and weight values
df = df.replace(-99.0,np.nan)
#Check for missing values (Number of missing values per column) - NaN or empty
df.isnull().sum()

ID             0
Name           0
Alignment      7
Gender        29
EyeColor     172
Race         304
HairColor    172
Publisher     15
SkinColor    662
Height       217
Weight       239
dtype: int64

In [18]:
#create an id for each hero (for clean iri)
char_id = df.loc[:,'Name'].str.strip()
char_id = char_id.str.lower() \
                    .str.replace(r"[, '\-\!]","_",regex=True) \
                    .str.replace(r"[_]+", "_", regex=True) \
                    .str.strip("_")
print(char_id)

0               a_bomb
1           abe_sapien
2             abin_sur
3          abomination
4              abraxas
            ...
729    yellowjacket_ii
730               ymir
731               yoda
732            zatanna
733               zoom
Name: Name, Length: 734, dtype: object

In [19]:
#add column 'Hero ID' to df
df['Hero ID'] = char_id
print(df)

      ID             Name Alignment  Gender EyeColor               Race  \
0      0           A-Bomb      good    Male   yellow              Human
1      1       Abe Sapien      good    Male     blue      Icthyo Sapien
2      2         Abin Sur      good    Male     blue            Ungaran
3      3      Abomination       bad    Male    green  Human / Radiation
4      4          Abraxas       bad    Male     blue      Cosmic Entity
..   ...              ...       ...     ...      ...                ...
729  729  Yellowjacket II      good  Female     blue              Human
730  730             Ymir      good    Male    white        Frost Giant
731  731             Yoda      good    Male    brown     Yoda's species
732  732          Zatanna      good  Female     blue              Human
733  733             Zoom       bad    Male      red                NaN

            HairColor          Publisher SkinColor  Height  Weight  \
0             No Hair      Marvel Comics       NaN   203.0   441.0
1             No Hair  Dark Horse Comics      blue   191.0    65.0
2             No Hair          DC Comics       red   185.0    90.0
3             No Hair      Marvel Comics       NaN   203.0   441.0
4               Black      Marvel Comics       NaN     NaN     NaN
..                ...                ...       ...     ...     ...
729  Strawberry Blond      Marvel Comics       NaN   165.0    52.0
730           No Hair      Marvel Comics     white   304.8     NaN
731             White       George Lucas     green    66.0    17.0
732             Black          DC Comics       NaN   170.0    57.0
733             Brown          DC Comics       NaN   185.0    81.0

             Hero ID
0             a_bomb
1         abe_sapien
2           abin_sur
3        abomination
4            abraxas
..               ...
729  yellowjacket_ii
730             ymir
731             yoda
732          zatanna
733             zoom

[734 rows x 12 columns]

In [20]:
#save file
df.to_csv(r'marvel_characters_id.csv', index = False)